.list-group {
    list-style-type: none;
    min-height: 120px;
    height: calc(100% - 30px);
}
.list-group-item {
    cursor: pointer;
}
.simpay-alert {
    position: fixed;
    z-index: 10000;
    min-width: 300px;
    top: 40px;
    right: 40px;
}